* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #3b36cc;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}
.wrapper {
  width: 450px;
  padding: 30px;
  background-color: #1a1a40;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}
.create-form {
  height: 40px;
  width: 100%;
  margin: 25px 0px;
  border: 1px solid #3b36cc;
  display: flex;
}
.create-form > input {
  outline: none;
  border: none;
  background: none;
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}
.create-form > button {
  border: none;
  background-color: #3636cc;
  color: white;
  width: 50px;
  height: 100%;
  cursor: pointer;
}
.todo {
  background-color: #3b36cc;
  height: 40px;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed {
  opacity: 0.4;
  text-decoration: line-through 3px black;
}
